<div class="container">
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label>Firstname</label>
     <div class="input-group">
        <input class="form-control" name="firstname" required #firstname="ngModel" ngModel/>
      </div>
      <span *ngIf="firstname.invalid && firstname.touched"
      class="error">You must enter firstname</span>
    </div>
    <div class="form-group">
      <label>Lastname</label>
     <div class="input-group">
        <input class="form-control" required name="lastname" #lastname="ngModel" ngModel/>
      </div>
      <span *ngIf="lastname.invalid && lastname.touched"
      class="error">You must enter lastname</span>
    </div>
    <div class="form-group">
      <label >Department</label>
      <div class="input-group">
        <input class="form-control" required name="department" #department="ngModel" ngModel/>
      </div>
      <span *ngIf="department.invalid && department.touched"
      class="error">You must enter department</span>
    </div>
    <div class="form-group">
      <label>Email</label>
      <div class="input-group">
        <input class="form-control" required email name="email" #email="ngModel" ngModel/>
      </div>
      <span *ngIf="email.invalid && email.touched"
      class="error">You must enter email</span>
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <div class="input-group">
        <select id="country" class="form-control" required name="country" #country="ngModel" ngModel>
          <option *ngFor="let country of countries" value={{country}}>
            {{country}}
          </option>
        </select>
      </div>
      <span *ngIf="country.invalid && country.touched"
      class="error">You must enter country</span>
    </div>
    <div class="border text-center">
      <button type="submit" data-dismiss="modal" class="btn btn-info">Submit</button>
    </div>
</form>
<span>{{message}}</span>
</div>

<!-- <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
class="alert alert-danger">
  <div *ngIf="firstname.errors.minlength">
    Firstname must be 3 characters or more
  </div>
  <div *ngIf="firstname.errors.maxlength">
    Firstname must be 8 characters or less
  </div>
  <div *ngIf="firstname.errors.required">
    You must enter a firstname
  </div>
</div> -->
