.formcontainer{
    width: 50%;
    background-color: floralwhite;
    padding: 25px;
    margin-top: 15px;
    border: 1px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
  }