<div class="border">
  <button class="btn btn-md btn-outline-primary" (click)="open(content)">
    <i class="fa fa-user"></i>New Friend</button>
</div>
<div class="container">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Website</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let friend of friends">
        <td><span>{{friend.id}}</span></td>
        <td><span>{{friend.name}}</span></td>
        <td><span>{{friend.username}}</span></td>
        <td><span>{{friend.phone}}</span></td>
        <td><span>{{friend.email}}</span></td>
        <td><span>{{friend.website}}</span></td>
        <td>
          <button class="btn btn-sm btn-info">
            <i class="fa fa-search"></i>Details</button>
          <button class="btn btn-sm btn-warning">
            <i class="fa fa-edit"></i>Edit</button>
          <button class="btn btn-sm btn-danger">
            <i class="fa fa-remove"></i>Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Friend</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="firstname">Name</label>
        <div class="input-group">
          <input id="name" name="name" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">Username</label>
        <div class="input-group">
          <input id="username" name="username" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="firstname">Phone</label>
        <div class="input-group">
          <input id="phone" name="phone" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">Email</label>
        <div class="input-group">
          <input id="email" name="email" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">Website</label>
        <div class="input-group">
          <input id="website" name="website" class="form-control" ngModel>
        </div>
      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>




